body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    margin-bottom: 10px;
    color: #333;
}
p {
    color: #666;
    margin-left: 10px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete {
    padding: 8px 15px;
    background-color: rgb(255, 77, 79);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"],
textarea {
    width: calc(100% - 90px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.navigation {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.navigation button {
    margin-left: 10px;
    color: #528eff;
    background-color: #f4f4f4;
}
