body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
h2 {
    margin-bottom: 10px;
    color: #333;
}
p {
    color: #666;
}
input[type="text"] {
    width: calc(100% - 90px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navigation {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.navigation button {
    margin-left: 10px;
    color: #528eff;
    background-color: #f4f4f4;
}

